<div class="register">
    <form autocomplete="off">
        <div class="form-line">
            <span class="account d-lb v-m"></span>
            <input type="text" placeholder="输入手机号" class="v-m"  autocomplete="off" name="user">
        </div>
        <div class="form-line">
            <span class="lock d-lb v-m"></span>
            <!--<input type="password" style="display: none;"/>-->
            <input class="form-control v-m" type="password" name="tradePassword" id="txPassword" autocomplete="new-password" placeholder="设置六位以上的密码"/>
        </div>
        <div class="message_wrap">
            <input type="text" placeholder="短信验证码" class="message_box">
            <span class="sendMessage fr">发送短信</span>
        </div>
        <button class="d-b login-btn">登录</button>
        <button class="d-b register-btn">注册</button>
    </form>
</div>