@import "prototype";
.register{
  position: fixed;
  top:0;
  left:0;
  right:0;
  bottom:0;
  background-size:100%;
  background: url("../image/background.png");
  form{
    .mt(55);
    .form-line{
      margin-right: auto;
      margin-left: auto;
      .w(300);
      .h(40);
      background-color: rgba(0,0,0,.2);
      &:first-child {
        border-bottom: 1px solid #fff;
      }
      .account {
        .w(23);
        .h(24);
        margin:0 10px;
        background: url("../image/account.png");
      }
      .lock{
        .w(22);
        .h(26);
        margin:0 10px;
        background: url("../image/lock.png");
      }
    }
    input{
      height:100%;
      .w(230);
      background-color: rgba(0,0,0,0);
      &::-webkit-input-placeholder{
        color:#fff;
      }
      //&:-webkit-autofill {
      //  -webkit-box-shadow: 0 0 0 1000px white inset !important
      //}
      color:#fff;
    }
    .message_wrap{
      .mt(40);
      margin-right: auto;
      margin-left: auto;
      .w(300);
      .message_box{
        .h(40);
        .w(165);
        .pl(30);
        background-color: rgba(0,0,0,.3);
        &::-webkit-input-placeholder{
          color:#fff;
        };
      }
      .sendMessage{
        .fs(14);
        color:@headBgColor;
        border:1px solid @headBgColor;
        padding:0 5px;
        .mt(16);
      }
    }
    button{
      margin-right: auto;
      margin-left:auto;
      .w(300);
      .h(40);
      font-weight:bold;
      font-size:16px;
      &.login-btn{
        .mt(75);
        background-color: @headBgColor;
        color: @defaultColor;

      }
      &.register-btn{
        .mt(25);
        background-color: rgba(203,233,228,.5);
        color:@headBgColor;
        border:1px solid @headBgColor;
      }
    }
  }
}